---
permalink: /
layout: splash

header:
 
  overlay_image: /assets/images/mainbanner/4.png
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
feature_row:
  - image_path: /assets/images/newrecession.png
    alt: "Recession management workshop"
    title: "Recession Management Workshop"
    excerpt: "I help SMEs to be prepared for **the economic downturn** by offering a **gamified recession management workshop** to **minimize the damage** of a recession and position the business to **emerge strongly** when the economy recovers."
    url: "#nothing"
    overlay_color: "#000"
    overlay_filter: "0.5"
    url: "https://www.viktoriazhang.com/Workshop/"
    btn_label: "Read More"
    btn_class: "btn--primary"

feature_row2:
  - image_path: /assets/images/myself/0.png
    alt: "placeholder image 1"
    title: "Your Financial advicor "
    excerpt: "  <p> Creating a trusted plan for your financial future. <p> 
 <p> If you are looking for a patient professional who not only understands your needs and goals but also dedicated to educate and empower you to make healthy financial decisions, you come to the right place. <p> 

My approach is to firstly understand your financial goals, obstacles and risk ability.
then, by analyzing your accounts I will develop an effective plan including Cash Flow Management (so you know where your money is going and understand why you should follow a budget plan), Portfolio Management(it 
recommends which financial instruments you should invest in, what are the estimated returns under different circumstances and how to invest etc.) to reach your goals while maximal improving your financial literacy with an easily understandable language."
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row type="left" %}
{% include feature_row id="feature_row2" type="right" %}
